body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* @media screen and (max-width: 1023px) {
  div.profile-details {
    color: black;
  }
}

@media screen and (min-width: 1120px) {
  div.research {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
}

@media screen and (min-width: 1220px) {
  div.research {
    margin-top: 4rem !important;
  }
}

@media screen and (min-width: 1300px) {
  div.research {
    margin-top: 6rem !important;
  }
}

@media screen and (min-width: 1400px) {
  div.research {
    margin-top: 8rem !important;
  }
}

@media screen and (min-width: 1500px) {
  div.research {
    margin-top: 10rem !important;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
